# I have kernel/initrd for some tests and it is not in repo
disks/virtual/efi/debian

# Ignore ISO images used for tests
disks/*.iso

# Ignore flash files for UEFI
SBSA_FLASH*

# Ignore directory with code of qemu/edk2/etc.
code

# Ignore python cache
__pycache__
