# I have kernel/initrd for some tests and it is not in repo
disks/virtual/efi/debian

# Ignore images used for tests
disks/

# Ignore python cache
__pycache__

# ignore temporary log files
log
log-*

# ignore working firmware files
firmware/*_FLASH?.fd
firmware/*_EFI.fd
