<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Arm BSA/PC-BSA/SBSA checklist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Arm BSA/PC-BSA/SBSA checklist" />
    <meta name="keywords" content="arm aarch64 arm64 bsa pc-bsa pcbsa sbsa checklist" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@haerwu" />
    <meta name="twitter:title" content="Marcin Juszkiewicz"/>
    <meta name="twitter:description" content="Arm BSA/PC-BSA/SBSA checklist" />
    <meta name="twitter:creator" content="@haerwu" />
    <meta name="twitter:image" content="https://marcin.juszkiewicz.com.pl/files/images/hrw-512.jpg" />

    <meta property="og:title" content="Arm BSA/PC-BSA/SBSA checklist" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://marcin.juszkiewicz.com.pl/download/tables/bsa-sbsa.html" />
    <meta property="og:description" content="Arm BSA/PC-BSA/SBSA checklist" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Marcin Juszkiewicz" />

{% include "common/datatables-js-css.inc.j2" %}
{% include "common/css.inc.j2" %}
</head>
<body>

<h1>Arm BSA/PC-BSA/SBSA checklist</h1>
    <p>
        This table tries to show which BSA/PC-BSA/SBSA rules are required for each level of those specifications.
        And how situation looks on SBSA Reference Platform in QEMU.
    </p>

<h2>Some notes</h2>

    <ul>
        <li>both BSA ACS and SBSA ACS use tag names which are covered by this checklist</li>
        <li>some entries depend on which cpu features are implemented</li>
        <li>table is updated at random moments</li>
        <li>test numbers can be covered for their titles</li>
        <li><b>FR</b> means "Future Requirements"</li>
    </ul>

<h2>Used documents</h2>

    <ul>
        <li><a href="https://developer.arm.com/documentation/den0094/d/">BSA 1.1C specification</a></li>
        <li><a href="https://developer.arm.com/documentation/den0151/a/">PC-BSA 1.0 specification</a></li>
        <li><a href="https://developer.arm.com/documentation/den0029/i/">SBSA 7.2 specification</a></li>
        <li><a href="https://github.com/ARM-software/bsa-acs/blob/main/docs/arm_bsa_testcase_checklist.rst">BSA ACS checklist</a></li>
        <li><a href="https://github.com/ARM-software/sbsa-acs/blob/master/docs/arm_sbsa_testcase_checklist.rst">SBSA ACS checklist</a></li>
    </ul>

{% include "common/author-tables-help.inc.j2" %}

<table id="infotable" class="display" style="width:100%">
<thead>
<tr>
<th>Section</th>
<th>Rule ID</th>
<th>ACS tests</th>
<th>BSA</th>
<th>PC BSA</th>
<th>SBSA<br />level 3</th>
<th>SBSA<br />level 4</th>
<th>SBSA<br />level 5</th>
<th>SBSA<br />level 6</th>
<th>SBSA<br />level 7</th>
<th>SBSA<br />level 'future'</th>
<th>SBSA<br />Reference Platform</th>
</tr>
</thead>
<tbody>
<tr>
<td>CPU architecture</td>
<td></td>
<td></td>
<td align="center">v8.0</td>
<td align="center">v8.1</td>
<td align="center">v8.0</td>
<td align="center">v8.3</td>
<td align="center">v8.4</td>
<td align="center">v8.5 or v9.0</td>
<td align="center">v8.6 or v9.1</td>
<td align="center">TBD</td>
<td align="center">Neoverse-N2</td>
</tr>
<tr>
<td>SMMU</td>
<td></td>
<td></td>
<td></td>
<td align="center">v3.0</td>
<td align="center">v2 or v3</td>
<td align="center">v3.0</td>
<td align="center">v3.2</td>
<td align="center">v3.2</td>
<td align="center">v3.2</td>
<td align="center">v3.3</td>
<td align="center">v3.0</td>
</tr>
<tr>
<td>GIC</td>
<td></td>
<td></td>
<td></td>
<td align="center">v3.0</td>
<td align="center">v3.0</td>
<td align="center">v3.0</td>
<td align="center">v3.0</td>
<td align="center">v3.0</td>
<td align="center">v3.0</td>
<td align="center">v3.0</td>
<td align="center">v4.1</td>
</tr>

{% set v = namespace(category = "", group = "") %}

{% for entry in checklist %}
        {% if entry["category"] != v.category %}
                {% set v.category = entry["category"] %}
                {% set v.group = "" %}
<tr>
<td class="category_title">{{ v.category }}</td>
<td />
<td />
<td />
<td />
<td />
<td />
<td />
<td />
<td />
<td />
<td />
</tr>
        {% endif %}
        {% if entry["group"] != v.group %}
                {% set v.group = entry["group"] %}
<tr>
<td class="title">{{ v.group }}</td>
<td />
<td />
<td />
<td />
<td />
<td />
<td />
<td />
<td />
<td />
<td />
</tr>
        {% endif %}

<tr>
<td></td>
<td>{{ entry.tag }}</td>
<td>
{% if entry.tests.bsa %}BSA: 
        {% for test in entry.tests.bsa %}
                <abbr title="{{ status_bsa[test].title }}">{{ test }}</abbr>{% if not loop.last %},{% endif %}
        {% endfor %}
{% endif %}
{% if entry.tests.sbsa and entry.tests.bsa %}<br />{% endif %}
{% if entry.tests.sbsa %}SBSA: 
        {% for test in entry.tests.sbsa %}
                <abbr title="{{ status_sbsa[test].title }}">{{ test }}</abbr>{% if not loop.last %},{% endif %}
        {% endfor %}
{% endif %}
</td>
<td class="mark">{% if entry.bsa == "future" %}FR{% elif entry.bsa %}✔{% endif %}</td>
<td class="mark">{% if entry.pcbsa == "future" %}FR{% elif entry.pcbsa %}✔{% endif %}</td>
<td class="mark">{% if entry.sbsa[3] %}✔{% endif %}</td>
<td class="mark">{% if entry.sbsa[4] %}✔{% endif %}</td>
<td class="mark">{% if entry.sbsa[5] %}✔{% endif %}</td>
<td class="mark">{% if entry.sbsa[6] %}✔{% endif %}</td>
<td class="mark">{% if entry.sbsa[7] %}✔{% endif %}</td>
<td class="mark">{% if entry.sbsa[8] %}✔{% endif %}</td>
<td class="mark">{{ entry.sbsaref }}</td>
</tr>
{% endfor %}
</tbody>
</table>

</body>
    <script>
        new DataTable('#infotable', {
                pageLength:         -1,
                paging:             false,
                scrollX:            false,
                scrollCollapse:     false,
                fixedHeader:        true,
                ordering:           false
        });
    </script>
</html>
